table.boxtable {
	font-family: Quattrocento Sans;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;	
	border-collapse: collapse;
	border-style: solid;
}
table.boxtable th {
	border-width: 0px;
	padding: 5px;
	background-color: #dedede;
}
table.boxtable td {
	border-width: 0px;
	padding: 5px;
	background-color: #ffffff;
}

.formSelect {
	width: 500px;
}

.space {
	width: 50px;
}

.tabletitle {
	color: #ffddee;
	background-color: #007FFF;
}

.htitle {
   color: #ffddee;
   background-color: #007FFF;
}

mark1 {
   color: #ff0000;
   font-weight: bold;
}

.maptitle {
	color: #e17009;
}

.mapdesc {
	color: #2e6e9e;
}

.menutitlecontainer {
    font-size: 12px;	
	line-height: 15px;
	padding: .5em .5em .5em .7em;
	min-height: 0;
	position: relative;
	margin-top: 2px;
	
	border: 1px solid #79b7e7;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.menulistcontainer {
    font-size: 12px;	
	line-height: 15px;
	padding: .5em .5em .5em .7em;
	min-height: 0;
	position: relative;
		
	border: 1px solid #79b7e7;
	border-top-width: 0px;
}

.menutitle {
    font-size: 12px;	
	line-height: 15px;	
	font-weight: bold;
	color: #e17009;
}

.menusubtitle {
	font-size: 12px;	
	line-height: 15px;	
	color: #1466B8;
}

.menuitem {
	font-size: 12px;	
	line-height: 15px;
	color:#555;
	display:inline-block;
	vertical-align: middle;
}

.menucheckbox {
	font-size: 1em;
	vertical-align: bottom;
	width: 13px;
	height: 13px;
}

.contentsubtitle {
	font-size: 14px;	
	line-height: 17px;	
	color: #1466B8;
}

.contentitem {
	font-size: 14px;	
	line-height: 17px;
	color:#555;
	display:inline-block;
	vertical-align: middle;
}

.floating-menu {
	font-family: sans-serif;
	background: yellowgreen;
	padding: 5px;;
	width: 130px;
	z-index: 100;
	position: fixed;
}

.floating-hidden {
	font-family: sans-serif;
	padding: 0px;
	z-index: 100;
	position: fixed;
	height: 0px;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    overflow-y: hidden; /* no-overflow                */
    height: 0;
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

/* openlayer features */
.map2 {
	height: 75%;
	width: 100%;
}

.map3 {
	height: 60%;
	width: 100%;
}

.buffermap {
	height: 1px;
	width: 1px;
}

.map2:-moz-full-screen {
  height: 100%;
}
.map2:-webkit-full-screen {
  height: 100%;
}
.map2:fullscreen {
  height: 100%;
}

.rotate-north {
  top: 65px;
  left: .5em;
}
.ol-touch .rotate-north {
  top: 80px;
}

/* Adjust layouts */
.nav {
	margin-bottom: 0px;
}
.row-fluid [class*="span"] {
	min-height: 0px;
}
.row {
	margin-left: 2px;
	margin-right: 0px;
}

.col-md-10 {
	padding-left: 0px;
	padding-right: 0px;
}

.narrow {
	padding-left: 0px;
	padding-right: 0px;
}