<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" >
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('OPA')" />
        <intercept-url pattern="/admin/editRun**" access="hasRole('ADMIN')" />
        <form-login login-page="/login"
          default-target-url="/admin"
          username-parameter="ssoId"
          password-parameter="password"          
          authentication-failure-url="/login?error" />
        <access-denied-handler error-page="/accessDenied" />
        <csrf/>
        
        <!-- allow iframe from same domain -->
        <headers>
		<frame-options policy="SAMEORIGIN" />
		</headers>
    </http>
  
    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="tilen"  password="tilen2019"  authorities="ROLE_OPA" />
                <user name="admin" password="admin2019" authorities="ROLE_ADMIN,ROLE_OPA" />
                <user name="opa"   password="opa2019" authorities="ROLE_OPA" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>