<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Header Fragment</title>
</head>
<body>
	<header>
		<h1>
			<img th:src="@{/images/resume-banner.png}" alt="Tilen Ma's Cloud"
				th:height="150px" class="img-fluid"/>
		</h1>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">			    
				<a class="navbar-brand" th:href="@{/}">Tilen's Resume</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/certification}">Certification</a></li>		
						<li class="nav-item"><a class="nav-link" th:href="@{/work}">Work</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/project}">Projects</a></li>
						<!--				
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown">Projects</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Sunlife - Faster
								Payment Service</a></li>
								<li><a class="dropdown-item" href="#">OFCA - Class Licence System</a></li>
								<li><a class="dropdown-item" href="#">A.S. Watsons - Online eCommerce</a></li>
							</ul>
						</li>-->
						<li class="nav-item"><a class="nav-link" th:href="@{/skill}">Technical
							Skills</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/variable}">Login</a></li>	
					</ul>
				</div>
			</div>
		</nav>

	</header>
</body>
</html>