<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<div th:replace="fragments/head-fragment :: head"></div>
<title>Certifications</title>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="alert alert-info">
			<p>Certifications</p>
		</div>
	</div>
	<!-- Carousel -->
	<div id="certificationCarousel" class="carousel slide" data-bs-ride="carousel">

		<!-- Indicators/dots -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="0"
				class="active"></button>
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="2"></button>
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="3"></button>
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="4"></button>
			<button type="button" data-bs-target="#certificationCarousel" data-bs-slide-to="5"></button>
		</div>

		<!-- The slideshow/carousel -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{/icon/pmp.png}" alt="PMP"
					class="d-block w-100" />
				<div class="carousel-caption">
					<h3>Project Management Professional</h3>
					<p>
						certified by Project Management Institute
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="coupon">
					<img th:src="@{/icon/togaf.jpg}" alt="Togaf"
						class="d-block w-100" />

					<div class="carousel-caption">
						<h3>TOGAF Enterprise Architect</h3>
						<p>certified by the Open Group</p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/icon/scrum.png}" alt="Scrum"
					class="d-block w-100" />
				<div class="carousel-caption">
					<h3>Scrum Master</h3>
					<p>certified by APMG International</p>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/icon/aws_sa_p.png}" alt="Scrum"
					class="d-block w-100" />
				<div class="carousel-caption">
					<h3>AWS Solution Architect - Professional</h3>
					<p>certified by Amazon Web Services</p>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/icon/aws_sa.png}" alt="Scrum"
					class="d-block w-100" />
				<div class="carousel-caption">
					<h3>AWS Solution Architect - Associate</h3>
					<p>certified by Amazon Web Services</p>
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{/icon/psd.png}" alt="Scrum"
					class="d-block w-100" />
				<div class="carousel-caption">
					<h3>Profession Scrum Developer</h3>
					<p>certified by Scrum.org</p>
				</div>
			</div>									
		</div>
	</div>

	<!-- Left and right controls/icons -->
	<button class="carousel-control-prev" type="button"
		data-bs-target="#certificationCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</button>
	<button class="carousel-control-next" type="button"
		data-bs-target="#certificationCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
	</button>
</body>
</html>