<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<div th:replace="fragments/head-fragment :: head"></div>
<title>Certifications</title>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="alert alert-info">
			<p>Projects</p>
		</div>
	</div>
	<div class="container-fluid mt-3">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Organization</th>
					<th>Objectives</th>
					<th>My Role</th>
					<th width="20%">Contribution</th>
					<th>Team Size</th>
					<th>Participated Duration</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Java Microservices Cloud Migration</td>
					<td><a href="https://www.nab.com.au/" target="_blank">National
							Australia Bank</a> - Corporate & Institutional Banking (C&IB), Markets Integration team</td>
					<td>
						<ul>
							<li>Refactoring and migration of application components to
								AWS/Azure and uplifting existing Java and 3rd party open source
								libraries for security compliance.</li>
						</ul>
					</td>
					<td>Senior Developer, Tester</td>
					<td>
						<ul>
							<li>Act as a developer to redevelop business modules for AWS migration and security compliance</li>
							<li>Act as the 2nd line support to trouble-shoot and resolve production issues</li>
						</ul>
					</td>
					<td>11 team members (1 Team Lead+10 developers)</td>
					<td>24 months</td>
				</tr>
				<tr>
					<td>API Gateway Cloud Migration</td>
					<td><a href="https://www.nab.com.au/" target="_blank">National
							Australia Bank</a> - Corporate & Institutional Banking (C&IB), Markets Integration team</td>
					<td>
						<ul>
							<li>Migration of 14+ gateway services in on-prem IBM Datapower to AWS and work with upstream and downstream teams on migration and testing plan.</li>
						</ul>
					</td>
					<td>Senior Developer, Tester</td>
					<td>
						<ul>
							<li>Act as the SME of IBM Datapower to provide impact analyst and implementation on API gateway related change requests on authentication and authorization policies</li>
						</ul>
					</td>
					<td>5+ upstream and downstream teams</td>
					<td>12 months</td>
				</tr>				
				<tr>
					<td>Faster Payment Service (FPS) Upgrade</td>
					<td><a href="https://www.sunlife.com" target="_blank">Sun
							Life Hong Kong Limited</a> - Digital IT team</td>
					<td>
						<ul>
							<li>Upgrade Faster Payment Services in related to migration
								of Payment Gateway to Cloud-based servers</li>
							<li>Develop new payment refund capabilities</li>
							<li>Enhance DevSecOps by SonarQube integration in deployment</li>
						</ul>
					</td>
					<td>Technical Lead, Solution Architect</td>
					<td>
						<ul>
							<li>Manage project schedule, service providers and
								integration risks</li>
							<li>Design the business flow and application architecture
								for payment refund</li>
							<li>Design new exception handling and error code mapping for
								new Faster Payment Service API</li>
							<li>Act as one of the developers of a Scrum team with roles
								of technical lead and solution architect</li>
							<li>Review codes committed by developers</li>
							<li>Act as 3rd line production support to find root cause
								and provide solutions of production incidents</li>
						</ul>
					</td>
					<td>7 team members (1 Team Lead+1 Scrum Master+1 Product
						Owner+3 Developers+1 Tester)</td>
					<td>9 months</td>
				</tr>
				<tr>
					<td>Integration Service (IS)</td>
					<td><a href="https://www.sunlife.com" target="_blank">Sun
							Life Hong Kong Limited</a> - Digital IT team</td>
					<td>
						<ul>
							<li>UDevelopment of new capabilities in integration service
								system to support different business operations including policy
								creation, claims and value withdrawal</li>
						</ul>
					</td>
					<td>Technical Lead, Solution Architect</td>
					<td>
						<ul>
							<li>Monitor and control project schedule and risk</li>
							<li>Deployment and Delivery management</li>
							<li>Acted as third line support to find out root causes of
								several critical production issues</li>
							<li>Provide architectural solution review according to new
								business initiatives</li>
							<li>Application design and implementation</li>
							<li>Perform code review and source control</li>
						</ul>
					</td>
					<td>5 team members (1 Technical Lead, 1 System Analyst, 1
						Business Analyst, 1 Programmer, 1 Tester)</td>
					<td>14 months</td>
				</tr>
				<tr>
					<td>Class Licence for Offer of Telecommunications Services
						(CLOTS)</td>
					<td><a href="https://www.gov.hk/en" target="_blank">Hong
							Kong Government</a>, <a href="https://www.ofca.gov.hk"
						target="_blank">Office of the Communications Authority (OFCA)</a></td>
					<td>
						<ul>
							<li>Redevelopment of existing Foxpro application that
								supports the workflow of public mobile radio station licensing</li>
						</ul>
					</td>
					<td>Technical Lead, Developer</td>
					<td>
						<ul>
							<li>Monitor and control project schedule and risk</li>
							<li>Assign project tasks to team members</li>
							<li>Gather and document user requirement</li>
							<li>Application design, implementation and testing</li>
							<li>Perform code review and performance Tuning</li>
						</ul>
					</td>
					<td>6 team members (1 Team Lead+3 Information Technology
						Officers+2 Programmers)</td>
					<td>11 months</td>
				</tr>
				<tr>
					<td>Public Mobile Radio Station System (PMRS)</td>
					<td><a href="https://www.gov.hk/en" target="_blank">Hong
							Kong Government</a>, <a href="https://www.ofca.gov.hk"
						target="_blank">Office of the Communications Authority (OFCA)</a></td>
					<td>
						<ul>
							<li>Redevelopment of existing Foxpro application that
								supports the workflow of public mobile radio station licensing</li>
						</ul>
					</td>
					<td>Project Manager, Team Lead, Developer</td>
					<td>
						<ul>
							<li>Monitor and control project schedule and risk</li>
							<li>Assign project tasks to team members</li>
							<li>Gather and document user requirement</li>
							<li>Application design, implementation and testing</li>
							<li>Perform code review and performance Tuning</li>
						</ul>
					</td>
					<td>3 team members (1 Team Lead+2 Information Technology
						Officers)</td>
					<td>11 months</td>
				</tr>
				<tr>
					<td>Watsons Online eCommerce System</td>
					<td><a href="http://www.aswatson.com/elab/" target="_blank">A.S.
							Watson Group, eLab</a></td>
					<td>
						<ul>
							<li>A.S. Watsons Asia Group has decided to standarize online
								shop frameworks for all business units in Asia. Hybris, a
								well-known and leading enterprise eCommerce framework, is used
								to implement the eCommerce System. In this project, the main
								objective is to customize Hybris software and implement
								extensions that fulfill the requirements for Watsons
								Philippines.</li>
						</ul>
					</td>
					<td>Team Lead, System Analyst</td>
					<td>
						<ul>
							<li>Monitor and control project schedule and risk</li>
							<li>Assign project tasks to team members</li>
							<li>Perform code reivew and version control</li>
							<li>Gather and document user requirement</li>
							<li>Application design, implementation and testing</li>
						</ul>
					</td>
					<td>8 team members (1 Project Manager, 1 System Analyst, 1
						Business Analyst, 3 Programmers, 2 Testers)</td>
					<td>11 months</td>
				</tr>
				<tr>
					<td>HKO Computer System for Assessment of Accident Consequence
						(ACAS)</td>
					<td><a href="https://www.gov.hk/en" target="_blank">Hong
							Kong Government</a>, <a
						href="https://www.hko.gov.hk/en/abouthko/aboutus.htm"
						target="_blank">Hong Kong Observatory</a> (HKO)</td>
					<td>
						<ul>
							<li>Hong Kong Observatory (HKO) operates an accident
								consequence assessment system(ACAS) to assess the possible
								consequences of nuclear accidents with release of radioactive
								material from nuclear power stations. The objective of this
								project is to implement a new ACAS so that the simulation
								process can be automated and the results are displayed in a
								user-friendly manner in GIS platform.</li>
						</ul>
					</td>
					<td>System Architect, Infrastructure Architect, Business
						Analyst</td>
					<td>
						<ul>
							<li>Manage project budget and provide hardware and software
								procurement list</li>
							<li>System installation and configuration in physical and
								virtual servers</li>
							<li>Gather and document user requirement</li>
							<li>Application design, implementation and testing</li>
							<li>Coding build and deployment</li>
							<li>Application and database performance tuning</li>
						</ul>
					</td>
					<td>6 team members (1 Project Manager, 1 Scientific Officer, 1
						Experimental Officer , 1 System Analyst, 1 Analyst Programmer, 1
						Tester)</td>
					<td>20 months</td>
				</tr>
				<tr>
					<td>Octopus Smart Card Operation and Clearing House System
						Support & Maintenance (OCHS)</td>
					<td><a href="https://www.octopus.com.hk/en" target="_blank">Octopus
							Holdings Limited</a></td>
					<td>
						<ul>
							<li>The support and maintenance smart card operation &
								clearing house system OCHS system provided by Octopus Holdings
								Limited. The system is delivered to international clients
								including Unified Automation Fare Collection (UAFC) department
								of Roads and Transportation Authority (RTA) in Dubai.</li>
						</ul>
					</td>
					<td>System Analyst, Business Analyst</td>
					<td>
						<ul>
							<li>Manage and implement change requests raised by client
								(major CRs includes Combi Card, eWallet and mobile top up)</li>
							<li>Follow-up daily incidents and monitor end-of-day tasks</li>
							<li>Provide consultation advice to client</li>
							<li>Design and implement short-term work-around and
								long-term system patches</li>
							<li>Perform system integration test, regression test and
								performance test</li>
						</ul>
					</td>
					<td>5-7 team members (1 Project Manager, 2 System System
						Engineers, 1-2 System Engineer, 1-2 Tester)</td>
					<td>41 months</td>
				</tr>
				<tr>
					<td>AXA Regional Communication Services (RCS)</td>
					<td><a href="https://www.axa.com.hk/en" target="_blank">AXA
							Group</a></td>
					<td>
						<ul>
							<li>AXA Group aims to standardize and enhance the outgoing
								correspondences to improve the customer communication, allow the
								capability to provide a centralised online storage repository of
								internal reports and also provide flexibility to the Marketing
								Team to communicate with customers.</li>
						</ul>
					</td>
					<td>System Analyst</td>
					<td>
						<ul>
							<li>Proof of concepts on the use of Thunderhead software</li>
							<li>Configure Thunderhead software to meet requirements for
								different countries</li>
							<li>Build the initial templates for letter and email
								delivery</li>
							<li>Conduct sharing workshops to AXA staff on Thunderhead
								software</li>
							<li>Perform change requests and defect fixing</li>
							<li>Perform SIT & support UAT</li>
						</ul>
					</td>
					<td>8-9 team members (1 Project Manager, 1 Architect, 3 IT
						Specialist, 2 Business Analysis, 1-2 Tester)</td>
					<td>11 months</td>
				</tr>
				<tr>
					<td>DBS Two Phase Authentication (2FA)</td>
					<td><a href="https://www.dbs.com.hk/en" target="_blank">DBS
							Hong Kong</a></td>
					<td>
						<ul>
							<li>DBS decided to increase the security level on the
								existing online banking system. Besides the first verification
								with web users by username and password, one-time password(OTP)
								is used as the second authentication. OTP is sent to web
								visitors’ registered mobile phone via SMS and they are required
								to input during logon to e-Banking.</li>
						</ul>
					</td>
					<td>System Analyst, Test Analyst</td>
					<td>
						<ul>
							<li>Enhance 7X24 availability of online banking system</li>
							<li>Enhance online banking system to provide new bank
								products</li>
							<li>Preparing bank account profiles as testing data and
								perform testing</li>
							<li>Manage and resolve SIT and UAT defects</li>
							<li>Travel to Singapore to perform load testing for 1 month</li>
							<li>Perform unit testing and regression testing</li>
							<li>Coaching testers during test execution</li>
						</ul>
					</td>
					<td>6 team members (1 Project Manager, 1 Architect, 2 IT
						Specialist, 1 Business Analysis, 1 Tester)</td>
					<td>12 months</td>
				</tr>
				<tr>
					<td>Cathay Pacific Airline (CX) Business System Support</td>
					<td><a href="https://www.cathaypacific.com/" target="_blank">Cathay
							Pacific Airline</a></td>
					<td>
						<ul>
							<li>A 5.5 years outsourcing projects for maintenance and
								support of over 180 business applications of Cathay Pacific to
								IBM China/Hong Kong Limited. The applications include the <a
								href="http://www.cathaypacific.com"> cx.com</a>, ka.com, <a
								href="https://www.asiamiles.com">asia miles</a> , CX holidays,
								logistic related applications and internal applications for
								operations and crews.
							</li>
						</ul>
					</td>
					<td>System Analyst, Business Analyst</td>
					<td>
						<ul>
							<li>Manage incidents and service requests</li>
							<li>Perform change request and system enhancement</li>
							<li>Gather business requirements and perform impact analysis</li>
							<li>Deliver detailed business requirement specification</li>
							<li>Deliver system design and detailed technical
								specification</li>
							<li>Quality control on offshore delivery team in Shenzhen</li>
						</ul>
					</td>
					<td>18-25 team members (1 Project Manager, 1 Architect, 10-15
						IT Specialist, 3-4 Business Analysis, 3-4 Tester)</td>
					<td>9 months</td>
				</tr>
				<tr>
					<td>Hong Kong Trade Development Council (HKTDC) eMarket Place
						(eMP)</td>
					<td><a href="https://www.hktdc.com/" target="_blank">Hong
							Kong Trade Development Council (HKTDC)</a></td>
					<td>
						<ul>
							<li>HKTDC decided to create a new online marketplace (eMP)
								that was migrated from an existing marketplace system. eMP
								provides an online platform for the communication between buyers
								and suppliers. eMP facilitates trade in Hong Kong by providing
								business matching on the Internet.</li>
						</ul>
					</td>
					<td>Analyst Programmer, Business Analyst</td>
					<td>
						<ul>
							<li>Web application framework design and implementation for
								mobile device</li>
							<li>Develop web application of Buyer Enquiry System</li>
							<li>Integrated with Interwoven TeamSite and Media Bin
								software to deliver a content management system</li>
							<li>Develop reporting facility by using iReport and Jasper
								Report software</li>
							<li>Data modeling and database configuration</li>
							<li>Perform unit testing and system integration test</li>
							<li>Perform change requests and defect fixing</li>
							<li>Conduct workshops to collect user requirement</li>
							<li>Document user requirement specification</li>

						</ul>
					</td>
					<td>24-43 team members (1 Project Director, 2 Project Manager,
						2 Architect, 15-30 IT Specialist, 2-4 Business Analysis, 2-4
						Tester)</td>
					<td>16 months</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>