<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<div th:replace="fragments/head-fragment :: head"></div>
<title>Skills</title>

</head>
<body>
	<div data-bs-spy="scroll" data-bs-target="#skill-navbar"
		data-bs-offset="50">

		<nav id="skill-navbar"
			class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#section1">Menu</a></li>
					<li class="nav-item"><a class="nav-link" href="#section2">Programming</a></li>
					<li class="nav-item"><a class="nav-link" href="#section3">Framework</a></li>
					<li class="nav-item"><a class="nav-link" href="#section4">Application
							Server</a></li>
					<li class="nav-item"><a class="nav-link" href="#section5">Database</a></li>
					<li class="nav-item"><a class="nav-link" href="#section6">DevOps
							Tools</a></li>
					<li class="nav-item"><a class="nav-link" href="#section7">Development
							& Testing</a></li>
					<li class="nav-item"><a class="nav-link" href="#section8">OS
							Platform</a></li>
					<li class="nav-item"><a class="nav-link" href="#section9">Enterprise
							Software</a></li>
				</ul>
			</div>
		</nav>

		<div id="section1" class="container-fluid bg-success text-white"
			style="padding: 5px 5px;">
			<div th:replace="fragments/header :: header"></div>
		</div>

		<div id="section2" class="container-fluid bg-warning"
			style="padding: 20px 20px;">
			<h1>Programming</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/java.png}" alt="Java" th:height="80"
							th:width="80" /></td>
						<td><img th:src="@{/icon/js.png}" alt="Javascripts"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/sql.png}"
							alt="Structured Query Language" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jsp.png}" alt="Java Server Pages"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/ws.png}" alt="Web Service"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/xml.png}"
							alt="eXtensible Markup Language" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jquery.png}" alt="JQuery"
							th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="section3" class="container-fluid bg-success text-white"
			style="padding: 20px 20px;">
			<h1>Framework</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/spring_boot.png}" alt="Spring Boot"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/spring.png}" alt="Spring"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/camel.jpeg}" alt="Apache Camel"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/kafka.png}" alt="Apache Kafka"
							th:height="80" th:width="80" style="background-color: white;" /></td>
						<td><img th:src="@{/icon/mvc.png}" alt="Spring MVC"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/hibernate.png}"
							alt="Spring Hibernate" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/spring_security.png}"
							alt="Spring Security" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/j2ee.png}"
							alt="Java Enterprise Edition" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/microservices.png}"
							alt="Microservices" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/kerberos.png}"
							alt="Kerberos Authentication" th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section4" class="container-fluid bg-warning"
			style="padding: 20px 20px;">
			<h1>Application Server</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/eks.png}" alt="AWS Kubernetes"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/ec2.png}" alt="AWS EC2"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/tomcat.png}" alt="Apache Tomcat"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/websphere.png}"
							alt="IBM Websphere Application Server" th:height="80"
							th:width="80" /></td>
						<td><img th:src="@{/icon/weblogic.png}"
							alt="Oracle Weblogic Server" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jboss.png}"
							alt="Red Hat JBoss Server" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/datapower.png}" alt="IBM Datapower"
							th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section5" class="container-fluid bg-success text-white"
			style="padding: 20px 20px;">
			<h1>Database</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/azure.png}" alt="Azure Oracle"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/rds.png}" alt="AWS RDS"
							th:height="80" th:width="80" style="background-color: white;" /></td>
						<td><img th:src="@{/icon/oracle.png}" alt="Oracle Database"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/postgresql.png}"
							alt="PostgreSQL Databsae" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/mssql.png}"
							alt="Microsoft SQL Database" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/mysql.png}" alt="My SQL Database"
							th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section6" class="container-fluid bg-warning"
			style="padding: 20px 20px;">
			<h1>DevOps Tools</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/git.png}" alt="Github"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/maven.png}" alt="Apache Maven"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jenkins.png}" alt="Jenkins"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/subversion.png}" alt="Subversion"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/gradle.png}" alt="Gradle"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/bitbucket.png}" alt="Bitbucket"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/sonar.png}" alt="SonarQube"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/snyk.png}" alt="Snyk"
							th:height="80" th:width="80" /></td>							
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section7" class="container-fluid bg-success text-white"
			style="padding: 20px 20px;">
			<h1>Development & Testing</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/junit.png}" alt="JUnit"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/soapui.png}" alt="SoapUI"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/postman.png}" alt="Postman"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/selenium.png}" alt="Selenium"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/mockito.png}" alt="Mockito"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/ecllipse.png}" alt="Ecllipse"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/intellij.png}" alt="IntelliJ Idea"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/visual_studio_code.png}"
							alt="Visual Studio Code" th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section8" class="container-fluid bg-warning"
			style="padding: 20px 20px;">
			<h1>OS Platform</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/hpunix.png}" alt="HP Unix"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/winserver.png}" alt="Windows Server"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/centos.jpg}" alt="Linux Cent OS"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/unix.png}" alt="Unix OS"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/aix.png}" alt="IBM AIX"
							th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="section9" class="container-fluid bg-success text-white"
			style="padding: 20px 20px;">
			<h1>Enterprise Software</h1>
			<table class="table table-dark">
				<tbody>
					<tr>
						<td><img th:src="@{/icon/rally.png}" alt="Rally"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jira.jpg}" alt="JIRA" th:height="80"
							th:width="80" /></td>
						<td><img th:src="@{/icon/hybris.png}" alt="Hybris"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/postgis.png}" alt="PostGIS"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/openlayers.png}" alt="Openlayers 3"
							th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/jasperreport.png}"
							alt="Jasper Report" th:height="80" th:width="80" /></td>
						<td><img th:src="@{/icon/tableau.jpg}" alt="Openlayers 3"
							th:height="80" th:width="80" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>